<div class="user-page">
  <% @user.attendances.each do |attend_event| %>
    <div class="user-event">
      <%= attend_event.event.name %>
        <img src="<%= attend_event.event.image %>" style="width:304px;height:228px;">
        <% attend_event.event.essential_items.each do |item| %>
          <% if item.user == current_user %>
            <p><%= item.item_name %></p>
          <% end %>
        <% end %>
    </div>
  <% end %>
</div>
