
  <div class="events-list">
    <% @events.each do |event| %>
      <div class="event-box">
        <img src="<%= event.image %>" style="width:304px;height:228px;">
        <div class="box-content">
          <div class="trip-link">
            <span><%= link_to event.name, event %></span>
          </div>
          <div>
            <span><%= event.description %></span>
            <p><%= event.date %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
