<h1><%= @event.name %></h1>
  <div class="event-trip">
    <div class="trip-image">
      <img src="<%= @event.image %>" style="width:304px;height:228px;">
    </div>
      <span>
        <%= @event.essentials %>
      </span>
  </div>
