/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
  background-image: url(https://s7d2.scene7.com/is/image/marmot/s17-newequip-1600?$dw%2Dhomehero$) ;
 }

.event-form-box{
  width: 40%;
  margin: auto;
  border: 1px solid #FFF;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px;
}

.new-event-header {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: #fffcfc;
}

.row {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: #fffcfc;
}

.submit-container {
  text-align: center;
}

.topnav {
  background-color: #CA2027;
  overflow: hidden;
  /*display: list-item;*/
  position: fixed;
  width: 100%;
  top: 0;
}

.top-bar-left {
  float: left;
  display: inline-block;
}

.top-bar-right {
  float: right;
}

.top-bar input, button {
  float: right;
}

.index-title {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: #fffcfc;
}

.box-content {
  float: right;
  color: #FFF;
  width: 50%;
}

.event-box {
  width: 60%;
  margin: auto;
  border: 1px solid #FFF;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

.event-box img {
  max-width: 40%;
}

.trip-link a {
  font-family: 'Roboto Slab', serif;;
  color: #fffcfc;
  font-size: 24px;
}

.trip-link a:hover {
  color: #CA2027;
}

.events-list{
  padding-top: 100px;
}

.show-page {
  padding-top: 100px;
  width: 60%;
  margin: auto;
  border: 1px solid #FFF;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: 'Roboto Slab', serif;;
  color: #fffcfc;
}

.event-trip {
  font-family: 'Roboto Slab', serif;;
  color: #fffcfc;
}

.form-box {
  padding-top: 100px;
}
