/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require datepicker
 */
.event-form-box{
  width: 40%;
  margin: auto;
  border: 1px solid #FFF;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px;
  margin-top: 20px;
}

.event-field-tile {
  color: #fffcfc;
}

event-form {
  color: #fffcfc;
}

.new-event-header {
  text-align: center;
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Ultra', serif;
  color: #4c4c4c;
}

.row {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  /*font-family: sans-serif;*/
  color: #2A333C;
}

.submit-container {
  text-align: center;
}

.top-bar-left {
  float: left;
  display: inline-block;
}

.top-bar-right {
  float: right;
}

.top-bar input, button {
  float: right;
}

.index-title {
  text-align: center;
  font-family: fantasy;
  /*font-family: 'Ultra', serif;*/
  color: #db3232;
}

.box-content {
  float: right;
  color: #FFF;
  width: 50%;
}

.trip-link a {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Ultra', serif;
  color: #fffcfc;
  font-size: 24px;
}

.trip-link a:hover {
  color: #db3232;
}

.form-box {
  padding-top: 100px;
}
