html {
  background-image: image-url("starbackground.jpg");
  background-size: cover;
}

.topnav {
  background-color: rgba(240, 240, 240, 0.5);
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}

.event-box {
  width: 60%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  box-shadow: 0px 2px 30px;
}

.event-box img {
  max-width: 40%;
}

.sign-in {
  width: 20%;
  margin: auto;
  background-color: rgba(240, 240, 240, 0.5);
  color: #db3232, 10%;
  margin-top: 100px;
  text-align: center;
  box-shadow: 0px 2px 30px;
}

a:link  {
  text-decoration: none;
}
