.user-event {
  width: 60%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  box-shadow: 0px 2px 30px;
  color: #fffcfc;
}
.user-items {
  float: right;
}

.event-name {
  float: right;
}

.user-event img {
  max-width: 40%;
}
